nav {
  background-color: #333;
  padding: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a{
  color: #f2f2f2;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

nav a:hover{
  color: #ff0000;
  background-color: #f2f2f2;
}

nav li{
  display: inline;
}

h1{
  text-align: center;
  font-size: 48px;
  padding: 15px;
}

h2{
  font-size: 1.5rem;
  padding: .5rem;
  font-weight: bold;
}

h4{
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
  padding-left: .5rem;
}

p{
  font-size: 1rem;
  padding:.5rem;
}

ul{
  margin-left: 2em;
  list-style-type: square;
  padding-top: .5em;
  padding-bottom: .5em;
}

#homebg {
  background-image: url(../images/homebg.png);
}

.homeimg {
  float: right;
  padding-right: 1em;
}

.cyberimg{
  padding-top: 1em;
}

.clear{
  clear: both;
}

#nameinfo {
  text-align: center;
}

.sections p{
  padding-top: 0em;
  padding-bottom: .5em;
}

.headder{
  text-decoration: underline;
  padding-top: 0em;
  padding-bottom: 0em;
}

.subheader{
  padding-bottom: 0em;
  padding-top: 0em;
}

#fixedpage {
  width: 960px;
  background-color: #f1f1f1;
  margin: auto;
}

#cyberpage {
  text-align: center;
  background-image: url(../images/cyberbg.png);
  font-family: 'Roboto Mono',Courier, monospace;
  color: #f2f2f2;
}

iframe {
  width: 560px; 
  height: 315px;
  border: 0;
}