nav {
  background-color: #333;
  padding: 1rem;
}

nav a{
  color: #f2f2f2;
  text-decoration: none;
}

nav a:hover{
  color: #ff0000;
  background-color: #f2f2f2;
}

h1{
  text-align: center;
  font-size: 48px;
  padding: 15px;
}

h2{
  font-size: 1.5rem;
  padding: .5rem;
  font-weight: bold;
}

h4{
  font-size: 1rem;
  padding: 1 rem;
  font-weight: bold;
  padding-left: .5rem;
}

p{
  font-size: 1rem;
  padding:.5rem;
}

#navset {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#navset li{
  display: inline;
}

#navset a{
  display: inline-block;
  padding: 1rem;
}


#homebody {
  background-image: url(homebg.png);
}

#homeimg {
  float: right;
}

#clear{
  clear: both;
}

#resumebody h2{
  text-decoration: underline;
}

#fixedpage {
  width: 960px;
  background-color: #f1f1f1;
  margin: auto;
}

#resumeinfo {
  text-align: center;
}

.resumelist {
  padding-left: 1rem;
}

#cyberbody {
  text-align: center;
  background-image: url(cyberbg.png);
  font-family: 'Roboto Mono', monospace;
  color: #f2f2f2;
}